
/* USING THIS STYLES */



body {
    background-color: black;
}

h1 {
    color: white;
}


.wrapper {
    display: grid;
    grid-template-rows: 2fr auto auto 1fr;
    grid-gap: 6px;
    grid-template-areas:
    "header header header header"
    "hero hero hero television" 
    "body body body sidebar"
    "footer footer footer footer";
}



/* HEADER PART */
.header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 10px;
    grid-gap: 6px;
    background-color: pink;
    grid-area: header;
}

.brand {
    padding: 10px;
    background-color: orange;
    grid-gap: 6px;
}

.global_nav {
    padding: 10px;
    background-color: orange;
    grid-gap: 6px;
}

.tools {
    padding: 10px;
    background-color: orange;
    grid-gap: 6px;
}



/* HERO PART */
.hero {
    display: grid;
    padding: 10px;
    grid-template-columns: 2fr 1fr;
    background-color: red;
    grid-gap: 6px;
    grid-area: hero;
}

.feature {
    padding: 10px;
    background-color: pink;
    grid-gap: 6px;
}

.action {
    padding: 10px;
    background-color: orangered;
    grid-gap: 6px;
}

.television {
    display: grid;
    grid-area: television;
    width: 350px;
}

.television:hover {
    opacity: 0.5;
}















/* BODY PART */
.body {
    display: grid;
    grid-gap: 6px;
    padding: 10px;
    background-color: yellow;
    grid-area: body;
    grid-template-columns: 1fr 2fr;
}

.article {
    padding: 10px;
    background-color: yellowgreen;
    grid-gap: 6px;
}

.listing {
    padding: 10px;
    background-color: yellowgreen;
    grid-gap: 6px;
}




/* SIDEBAR PART */
.sidebar {
    display: grid;
    grid-gap: 6px;
    padding: 10px;
    background-color:lightskyblue;
    grid-area: sidebar;

}

.sidebar-features {
    padding: 10px;
    background-color: blue;
    grid-gap: 6px;
}





/* FOOTER SECTION */
.footer {
    padding: 10px;
    margin: 0;
    background-color: blueviolet;
    grid-area: footer;
}

p {
    font-family: monospace;
    text-align: center;
    font-size: 18px;
}